/* styles.css (updated for login page) */

body {
    background-color: #f2f2f2;
  }
  
  
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  section#login {
    background-color: #fff;
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  section#login h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
  }
  
 #div{
  display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

 }
  
  
  section#login form input[type="email"],
  section#login form input[type="password"] {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  section#login form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
  }
  
  section#login p {
    text-align: center;
    margin-top: 10px;
  }
  
  section#login p a {
    color: #333;
    text-decoration: underline;
  }
  .pass{
    background-color: yellow;

  }